
# Created by https://www.gitignore.io/api/c,c++,eclipse,emacs,vim,cmake,autotools,macos,linux,windows

### Autotools ###
# http://www.gnu.org/software/automake

Makefile.in
/ar-lib
/mdate-sh
/py-compile
/test-driver
/ylwrap

# http://www.gnu.org/software/autoconf

/autom4te.cache
/autoscan.log
/autoscan-*.log
/aclocal.m4
/compile
/config.guess
/config.h.in
/config.sub
/configure
/configure.scan
/depcomp
/install-sh
/missing
/stamp-h1

# https://www.gnu.org/software/libtool/

/ltmain.sh

# http://www.gnu.org/software/texinfo

/texinfo.tex

### Autotools Patch ###
/config.log

### C ###
# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

### C++ ###
# Prerequisites

# Compiled Object files
*.slo

# Precompiled Headers

# Compiled Dynamic libraries

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai

# Executables

### CMake ###
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
#Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
build

### Eclipse ###

.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# PyDev specific (Python IDE for Eclipse)
*.pydevproject

# CDT-specific (C/C++ Development Tooling)
.cproject

# Java annotation processor (APT)
.factorypath

# PDT-specific (PHP Development Tools)
.buildpath

# sbteclipse plugin
.target

# Tern plugin
.tern-project

# TeXlipse plugin
.texlipse

# STS (Spring Tool Suite)
.springBeans

# Code Recommenders
.recommenders/

# Scala IDE specific (Scala & Java development for Eclipse)
.cache-main
.scala_dependencies
.worksheet

### Eclipse Patch ###
# Eclipse Core		
.project

# JDT-specific (Eclipse Java Development Tools)		
.classpath

### Emacs ###
# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

### VSCode ###
.vscode
.vscode/*

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# elpa packages
/elpa/

# reftex files
*.rel

# AUCTeX auto folder
/auto/

# cask packages
.cask/
dist/

# Flycheck
flycheck_*.el

# server auth directory
/server/

# projectiles files
.projectile
projectile-bookmarks.eld

# directory configuration
.dir-locals.el

# saveplace
places

# url cache
url/cache/

# cedet
ede-projects.el

# smex
smex-items

# company-statistics
company-statistics-cache.el

# anaconda-mode
anaconda-mode/

### Linux ###

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# .nfs files are created when an open file is removed but is still being accessed
.nfs*

### macOS ###
*.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

### Vim ###
# swap
.sw[a-p]
.*.sw[a-p]
# session
Session.vim
# temporary
.netrwhist
# auto-generated tag files
tags

### Windows ###
# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

### The following are the tests executable used for tries ###
tests/simplest
tests/test1
tests/test1b
tests/test2
tests/test3
tests/test3b
tests/test3_farm
tests/test4
tests/test5
tests/test6
tests/test7
tests/test8
tests/perf_test1
tests/test_accelerator
tests/test_accelerator2
tests/test_accelerator3
tests/test_accelerator_farm+pipe
tests/test_accelerator_pipe
tests/test_ofarm
tests/test_ofarm2
tests/test_accelerator_ofarm
tests/test_accelerator_ofarm_multiple_freezing
tests/test_accelerator_pipe+farm
tests/test_farm+pipe
tests/test_farm+pipe2
tests/test_freeze
tests/test_masterworker
tests/bench_masterworker
tests/test_multi_masterworker
tests/test_pipe+masterworker
tests/test_scheduling
tests/test_dt
tests/test_torus
tests/test_torus2
tests/perf_test_alloc1
tests/perf_test_alloc2
tests/perf_test_alloc3
tests/perf_test_noalloc
tests/test_uBuffer
tests/test_sendq
tests/test_spinBarrier
tests/test_multi_input
tests/test_multi_input2
tests/test_multi_input3
tests/test_multi_input4
tests/test_multi_input5
tests/test_multi_input6
tests/test_multi_input7
tests/test_multi_input8
tests/test_multi_input9
tests/test_multi_input10
tests/test_multi_input11
tests/test_accelerator+pinning
tests/test_dataflow
tests/test_dataflow2
tests/test_noinput_pipe
tests/test_stopstartthreads
tests/test_stopstartthreads2
tests/test_stopstartthreads3
tests/test_stopstartall
tests/test_MISD
tests/test_parfor
tests/test_parfor2
tests/test_parforpipereduce
tests/test_dotprod_parfor
tests/test_parfor_unbalanced
tests/test_parfor_multireduce
tests/test_parfor_multireduce2
tests/test_lb_affinity
tests/test_farm
tests/test_farm2
tests/test_pipe
tests/test_pipe2
tests/perf_parfor
tests/perf_parfor2
tests/test_graphsearch
tests/test_multi_output
tests/test_multi_output2
tests/test_multi_output3
tests/test_multi_output4
tests/test_multi_output5
tests/test_multi_output6
tests/test_pool1
tests/test_pool2
tests/test_pool3
tests/test_devicequery
tests/test_map
tests/test_mdf
tests/test_taskf
tests/latptr11
tests/test_taskcallbacks
tests/test_eosw
tests/test_nodeselector
tests/test_stats
tests/test_dc
tests/test_combine
tests/test_combine1
tests/test_combine2
tests/test_combine3
tests/test_combine4
tests/test_combine5
tests/test_combine6
tests/test_combine7
tests/test_combine8
tests/test_combine9
tests/test_combine10
tests/test_combine11
tests/test_combine12
tests/test_combine13
tests/test_combine14
tests/test_all-to-all
tests/test_all-to-all2
tests/test_all-to-all3
tests/test_all-to-all4
tests/test_all-to-all5
tests/test_all-to-all6
tests/test_all-to-all7
tests/test_all-to-all8
tests/test_all-to-all9
tests/test_all-to-all10
tests/test_all-to-all11
tests/test_all-to-all12
tests/test_all-to-all13
tests/test_all-to-all14
tests/test_all-to-all15
tests/test_all-to-all16
tests/test_all-to-all17
tests/test_all-to-all18
tests/test_all-to-all19
tests/test_optimize
tests/test_optimize2
tests/test_optimize3
tests/test_optimize4
tests/test_optimize5
tests/test_all-or-none
tests/test_farm+farm
tests/test_farm+farm2
tests/test_farm+A2A
tests/test_farm+A2A2
tests/test_farm+A2A3
tests/test_farm+A2A4
tests/test_staticallocator
tests/test_staticallocator2
tests/test_staticallocator3
tests/test_changenode
tests/test_changesize
tests/test_changesize2
tests/test_ossched_pipe
tests/test_ossched_pipeOLD
tests/test_ossched_farm 
tests/test_ossched_deadline
tests/test_battery_launcher
tests/test_ossched_pipe_battery

tests/out.txt
tests/out*.csv
tests/times*.csv

# End of https://www.gitignore.io/api/c,c++,eclipse,emacs,vim,cmake,autotools,macos,linux,windows
